
<div class=" container-fluid">
  <div class="row align-items-center justify-content-center" style="height: 100vh; "   >

    <div class="col  border " >


      <div class="card card-body mx-auto" style="width:600px; ;">
        <img src="../assets/clima.png" width="100px" height="auto" class="img-fluid  d-block mx-auto">
        <form   (submit)="submitLocation(cityName,countryCode)">
          <div class="form-group">

            <input type="text" class="form-control mt-2" placeholder="Nombre de la ciudad" #cityName>
          </div>
          <div class="form-group">

            <input type="text" class="form-control mt-2" placeholder="Codigo de país" #countryCode>
          </div>


          <button class="btn btn-primary btn-block mt-2">Obtener clima</button>
        </form>

<button type="button"  class="btn btn-secondary btn-block mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
Ver códigos de países
</button>


<div *ngIf="clima" class="col-sm  border mt-2">
  <div class="card card-body">
    <p><strong>Clima en {{clima.name}}</strong> </p>

    <p>Temperatura Media: {{clima.main.temp}} °C</p>
  <p>Temperatura Max:{{clima.main.temp_max}}</p>
  <p>Temperatura Min:{{clima.main.temp_min}}</p>
   <p>Sensación térmica:{{clima.main.feels_like}}</p>
 <p>Húmedad:{{clima.main.humidity}} %</p>
 <p>Presión:{{clima.main.pressure}} hPa</p>

  </div>



</div>
      </div>








  </div>




  </div>


  </div>


<!-- Modal -->
<div class="modal fade"  id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content " >
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Códigos de países</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body mx-auto " style="width: 100%; height: 500px;"  >
        <iframe class="mt-2 " src="https://datahub.io/core/country-list/r/0.html" style="width: 100%;height: 450px;"   frameborder="0"></iframe>
      </div>

    </div>
  </div>
</div>
