<br>
<div class="container">
  <div class="row">

    <div class="col-md-5 mx-auto">
      <div class="card card-body">


        <img src="../assets/clima.png" width="200" height="200" class="mx-auto">

        <form (submit)="submitLocation(cityName,countryCode)">
          <div class="form-group">

            <input type="text" class="form-control mt-2" placeholder="Nombre de la ciudad" #cityName>
          </div>
          <div class="form-group">

            <input type="text" class="form-control mt-2" placeholder="Codigo de país" #countryCode>
          </div>


          <button class="btn btn-primary btn-block mt-2">Obtener clima</button>
        </form>

<button type="button" style="width: 40%;" class="btn btn-secondary btn-block mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
Ver códigos de países
</button>



      </div>


    </div>

  </div>
  <div class="row mt-2">


    <div *ngIf="clima" class="col-md-5 mx-auto">
      <div class="card card-body">
        <p><strong>Clima en {{clima.name}}</strong> </p>

        <p>Temperatura Media: {{clima.main.temp}} °C</p>
        <!-- <p>Temperatura Max:{{clima.main.temp_max}}</p>
      <p>Temperatura Min:{{clima.main.temp_min}}</p>
       <p>Sensación térmica:{{clima.main.feels_like}}</p>
     <p>Húmedad:{{clima.main.humidity}} %</p>
     <p>Presión:{{clima.main.pressure}} hPa</p> -->

      </div>



    </div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade"  id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content " >
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Códigos de países</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body mx-auto "  >
        <iframe class="mt-2 " src="https://datahub.io/core/country-list/r/0.html" scrolling="no" style="height: 50vh; width: 50vh;" frameborder="0"></iframe>
      </div>

    </div>
  </div>
</div>
